.task-list {
  min-height: 30px;
}

.task {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: white;
  padding: 8px;
  margin-bottom: 8px;
  border-radius: 3px;
  box-shadow: 0 1px 0 rgba(9,30,66,0.25);
  user-select: none;

  &-content {
    display: flex;
    gap: 5px;

    span {
      white-space: nowrap;
      overflow: hidden;
      max-width: 130px;
      text-overflow: ellipsis;
    }

    .button {
      font-size: .7rem;
    }
  }

  &.dragging {
    opacity: 0.5;
  }

  &.completed {
    background: #e7e7e761;
    span {
      text-decoration: line-through;
      color: #5e6c84;
    }
  }

  &-edit {
    flex: 1;
    padding: 4px;
  }

  &-delete,
  &-complete {
    border: none;
    font-size: 0.9em;
  }

  &-delete {
    background: #f56c6c;
  }

  &-add {
    margin-top: 10px;
    display: flex;
    gap: 5px;

    input {
      flex: 1;
      padding: 5px;
    }
  }
}